h1 {
  padding-top: 100px;
  padding-bottom: 50px;
  font-size: 72px;
  padding-right: 10%;
  
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Courier New', Courier, monospace;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}


header {
  margin: 0px;
  padding: 0px;
  display: block;
  background-color:#333333;
  height: 50px;
  width: 100%;
}

nav {
  overflow: hidden;
  display: block;
  padding-top: 10px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: right;
  background-color: #333333;
  
}

a {
  font-size: 20px;
  color: #ff0099;
  text-decoration: underline;
  padding: 15px;
}


hr {
  width: 30px;
  height: 1px;
  background: repeating-linear-gradient(90deg,#000,#000 6px, transparent 6px,transparent 12px);
  border-top: 1px  black;
  text-align: center;
  
}


h2 {
  color: #ff0099;
  font-size: 36px;
}


img {
  float: left;
  size: 30px;     
  }

.description {
  font-family: 'roboto';
  line-height: 30px;
  font-weight: 800;
}


#def {
  color: #000;
  text-align: center;
}